<h1 class='text-center'>Idea Box</h1>
<div class='container'>
  <div id='search-box'>
  Search: <input type="search" id="search" />
</div>
<br>
  <div id='new-idea'>
    <input type="text" id="title" placeholder="Title" /><br>
    <textarea id="body" placeholder="Body"></textarea><br>
    <input type="submit" id="create-idea" value='Save' />
  </div>
  <div id='ideas'>
  </div>
</div>
