<h1 class='text-center'>Idea Box</h1>
<div class='container'>
  <div id='new-idea'>
    <input type="text" id="title" value="Title" /><br>
    <textarea id="body" >
Body
    </textarea><br>
    <input type="submit" id="create-idea" />
  </div>
  <div id='ideas'>
  </div>
</div>
