/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #549CE6;
}

li{
  float: left;
  margin: 1%;
  list-style-type: none;
}

ul {
  width: 100%;
  margin: 0 auto;
  padding-left: 6%;
}

.idea {
  margin-bottom: 3%;
}

#body {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

#title {
  width: 100%;
  margin: 0 auto;
}

#search {
  width: 100%;
  margin: 0 auto;
}

#delete-idea {
  float: left;
  margin-top: 2%;
  margin-right: 2%;
}

p {
  margin-left: 7%;
}

h3 {
  margin-left: 5%;
}

.idea {
  width: 40%;
  padding-bottom: 4%;
  margin: 0 auto;
}

#ideas {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
}

#new-idea {
  width: 40%;
  margin: 0 auto;
}

#search-box {
  width: 40%;
  margin: 0 auto;
}

#edit {
  margin-top: 2%;
  float: right;
}
